body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 20px; 
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #555;
  margin-bottom: 10px;
}

a.btn {
  display: inline-block;
  margin-bottom: 15px;
  padding: 8px 12px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

a.btn:hover {
  background-color: #0056b3;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.photo-box  {
  flex: 1;
  text-align: center;

}

.profile-img {
  max-width: 200px;
  height: auto;
  border-radius: 6px;
  border: 2px solid #ccc;
}

.info-box {
  flex: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f1f1f1;
  color: #333;
  width: 150px;
}

td {
  color: #555;
}

table tr:hover {
  background-color: #f9f9f9;
}  



/* Effet zoom au survol */
img:hover {
    transform: scale(1.05); /* agrandit de 5% */
    transition: transform 0.3s ease;
}

/* Optionnel : pour que l'image reste bien dans son cadre */
img {
    display: block;
    max-width: 100%;
    height: 50%;
    transition: transform 0.3s ease;
}









